# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.env
.venv
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Projekt
config.ini
*.schema.json
